<div id="wrapper">
      <h1>Note Scraper</h1>
      <h2><i>Vogue Articles</i></h2>
      <div id="articles">
      {{each articles}}
      {{/each}}
      </div>
      <div id="notes"></div>
    </div>

